In [28]:
import tensorflow as tf
import numpy as np
import pandas as pd
from tensorflow import keras

In [29]:
model = tf.keras.Sequential([keras.layers.Dense(units=1,input_shape=[1])])

In [30]:
model.compile(optimizer = 'sgd',loss = 'mean_squared_error')

In [31]:
housing_data = pd.read_csv('Housing.csv')
housing_data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [32]:
xs = housing_data.price
xs.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

In [33]:
features = ['area', 'bedrooms', 'bathrooms', 'stories', 'parking']
ys = housing_data[features]
ys.head()

   area  bedrooms  bathrooms  stories  parking
0  7420         4          2        3        2
1  8960         4          4        4        3
2  9960         3          2        2        2
3  7500         4          2        2        3
4  7420         4          1        2        2

In [41]:
model.fit(xs,ys,epochs=500)
a = model.predict(xs)
print(xs)

ValueError: A target array with shape (545, 5) was passed for an output of shape (None, 1) while using as loss `mean_squared_error`. This loss expects targets to have the same shape as the output.